# Environment files
.env
.env.*.local

# Backend ignores
/backend/.env
/backend/.env.*.local
/backend/uploads
/backend/node_modules
/backend/dist
/backend/dist-ssr
/backend/*.local

# Frontend ignores
/frontend/.env
/frontend/.env.*.local
/frontend/uploads
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local
